body{
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    text-align: center;
    border: 1px solid black ;
}
button {
    font-weight: bold;
    font-size: 16px;
    background-color:darkkhaki;
}
h1 {
    color:red;
}
a{
    color:white;
    text-decoration: none;
    
}
ul{
    list-style-type: none;
    line-height: 1.8;
    text-align: center;
}